<div class="ingredient-list">
    <div class="ingredient-list__content">
        <div class="ingredient-list__item" *ngFor="let ingredient of list">
            <app-ingredient-card
                [ingredient]="ingredient"
                (editIngredient)="editIngredient($event)"
                (deleteIngredient)="deleteIngredient($event)"
            ></app-ingredient-card>
        </div>
    </div>
    <div class="list-btn-wrapper">
        <button (click)="addIngredient()" mat-raised-button color="primary">Add</button>
    </div>
</div>
