.my-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.main {
    flex: 1 0 auto;
    padding: 15px 25px;
}

.add-notch {
    height: 60px;
}

.display-none {
    display: none;
}
