/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;

        flex: 1 0 50%;
        overflow-y: auto;
    }
}

.list-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

    & > button {
        display: block;
        width: 70%;
        max-width: 300px;
        padding: 7px 0;
    }
}

.detail-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
