.product-detail {
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 15px;
    }

    &__header {
        padding-top: 15px;
        padding-right: 25px;
        padding-left: 25px;
    }

    &__main {
        flex: 1 0 70%;
        min-height: 0;
        overflow-y: auto;
        padding-right: 25px;
        padding-left: 25px;

        display: flex;
        justify-content: center;

        app-product-form {
            display: block;
            width: 100%;
            max-width: 500px;
        }
    }

    &__footer {
        margin-top: 10px;
    }
}
